@import '../App.scss';
.main h4{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bold;
    width: 40%;
}
.meals-wraper .sort-box{
    padding: 1rem;
    font-size: 2rem;
    display: grid;
}
.meals-wraper .sort-box div{
    margin-right: 2rem;
    cursor: pointer;
}
.meals-wraper .sort-box div:hover{
    //border-bottom: 3px solid #3b1b36;
}
.sort-active{
    border-bottom: 3px solid #3b1b36;
}
.meals-wraper .sort-box div a{
    margin-right: 0.5rem;
}
.meals-container h3{
    font-size: 1.9rem;
    font-weight: bold;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}